<h1><%=h @team.name %></h1>

<p>
  Captains:
  <b><%=h @team.lead %></b>
</p>

<p>
  Description:
  <b><%=h @team.lead %></b>
</p>

<p>
  Creator:
  <b><%=h @team.user_id %></b>
</p>

<div class="new">
  <%= link_to 'Add a New Player', new_member_path(@team) %> |
  <%= link_to 'Add a New Match', new_team_event_path(@team) %>
</div>

<p class="new">
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
</p>
