<h1>New <% if @team %> <%= @team.name.titleize %> <% end %> Member</h1>

<% form_for :user, @user, :url => team_users_path(params[:team_id]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="new">
    <%= f.submit 'Create' %> or 
    <%= link_to 'Cancel', team_path(params[:team_id]) %>
  </p>
<% end %>
